

*{
    box-sizing: border-box;
}
html.bod{
    background-color: #E5E5E5;
}
header{
    background-color: #38AF90;
    color: #FFFFFF;
    position: absolute;
    width: 1200px;
    height: 90px;
    
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{


}

p{
    height: 92px;
    width: 909px;
    left: 145px;
    top: 336px;
    border-radius: nullpx;
    font-family: Poppins;

    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

    
}
a,a:hover {
    text-decoration: none;
    color: unset;
}

