@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --text-color-gray--: #797979;
  --text-color-white: #fff;
  --main-color--: #38af90;
  --box-color--: #f0f0f0;
  --box-color-red: #dd7e92;
}
* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e5e5e5;
}

header {
  background-color: var(--main-color--);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 100px;
}

.logo {
  font-size: 1.5em;
  color: var(--text-color-white);
  font-weight: 700;
}

.Navegation {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.Navegation li {
  list-style: none;
  margin: 0 27px;
}

.Navegation a {
  color: var(--text-color-white);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}
#notices {
  text-align: center;
}
#notices h2 {
  color: var(--text-color-gray--);
  font-size: 36px;
  padding: 40px 0;
}
.container-box {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}
.card-news {
  background-color: var(--box-color--);
  border-radius: 8px;
  padding: 15px 40px;
  text-align: left;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 40px;
}

.card-news h3 {
  font-size: 24px;
  color: var(--main-color--)
}
.card-news h4 {
  border-bottom: 1px solid var(--main-color--);
  font-size: 16px;
  color: var(--text-color-gray--);
  line-height: 24px;
  margin-bottom: 16px;
}
.card-news p {
  font-size: 10px;
  color: var(--text-color-gray--);
}
.card-news a,
a:hover {
  color: var(--box-color-red);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
input[type="button"] {
  height: 67px;
  width: 244px;
  font-size: 18px;
  font-weight: 700;
  color: var(--box-color--);
  border-radius: 8px;
  background: var(--box-color-red);
  border: none;
  margin-bottom: 56px;
}
#games {
  background-color: var(--box-color--);
  height: 560px;
  text-align: center;
}
#games h2 {
  font-size: 36px;
  line-height: 54px;
  color: var(--main-color--);
  padding: 36px;
}
.card-games img {
  width: 300px;
  border-radius: 12px 12px 0 0;
}
.card-games {
  background-color: var(--text-color-white);
  width: 300px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.card-description {
  height: 157px;
  text-align: center;
  padding: 15px;
}
.card-description h3 {
  font-size: 18px;
  color: var(--text-color-gray--);
}
.card-description p {
  font-size: 12px;
  font-weight: 400;
}
.card-description h4 {
  font-size: 36px;
  color: var(--main-color--);
  padding-top: 13px;
}
#Subscribe {
  background-color: var(--box-color--);
  margin: 0 auto;
  height: 522px;
  width: 790px;
  border-radius: 8px;
  padding: 50px 73px;
}

::placeholder {
  padding: 20px;
  color: #c4c4c4;
}
#h2-subscribe {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 40px;
  color: var(--text-color-gray--);
}
input[type="text"],
input[type="email"] {
  width: 642px;
  height: 50px;
  margin-bottom: 20px;
  color: #c4c4c4;
  background: var(--text-color-white);
  border: 1px solid var(--text-color-gray--);
  border-radius: 4px;
}

.prefers {
  color: var(--text-color-gray--);
  font-weight: 400;
  font-size: 16px;
}

#ctrl-prefers-1,
#ctrl-prefers-2,
#ctrl-prefers-3 {
  width: 23px;
  height: 23px;
}
#checkbox {
  width: 23px;
  height: 23px;
}
input[type="submit"] {
  width: 244px;
  height: 67px;
  background: var(--box-color-red);
  border-radius: 8px;
}

input[type="reset"] {
  width: 244px;
  height: 67px;
  margin-left: 52px;
  background: #ffffff;
  border: 2px solid var(--box-color-red);
  border-radius: 8px;
}

input[type="reset"],
input[type="submit"] {
  margin-top: 38px;
}

input[type="submit"] {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--box-color--);
}

input[type="reset"] {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--box-color-red);
}

footer {
  width: 100%;
  height: 190px;
  background: #383838;
  padding: 84px;
  color: var(--text-color-white);
}
.container-footer {
  display: flex;
  justify-content: space-between;
}
.contact a,
a:hover {
  display: block;
  font-size: 14px;
  color: var(--text-color-white);
  text-decoration: none;
  font-weight: 400;
}

.politicaUso a,
a:hover {
  display: block;
  color: var(--text-color-white);
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
}
